body {
    background:#a896ba; 
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    color:greenyellow;
}


h1,h2,li {
    color:#664;
}

a {
    color:lightskyblue;
}

p{
    color:white;
    background: #333;
}

.secondary {
    background:none;
    color:black;
}