body {
    background:#a896ba; 
    font-family: cursive;
}

h1,h2,li {
    color:#242;
}

a {
    color:red;
}

p{
    color:white;
    background: #993399;
}

.secondary {
    background:none;
    color:black;
}