body {
    background: #a896ba;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: green;
    margin: 0;
}

header {
    background: #662244;
    color: white;
    margin: 0;
    padding: 10px 12px 0px 12px;
}

header h1 {
    margin: 0;
    display: inline;
}

nav ul {
    margin: 0;
    display: inline;
    padding: 0px, 0px, 0px, 15px;
}

nav ul li {
    background: gray;
    color: goldenrod;
    list-style-type: none;
    display: inline-block;
    padding: 5px 12px;
}

nav ul li {
    color: #333;
}

div.row {
    color: red;
    background: #666;
    border-radius: 5px;
    padding: 0.5%;
}

div.col {
    background: #666;
    border-radius: 3px;
    padding: 0.5%;
    margin: 0.5%;
    width: 31.333%;
    float: left;
}

footer {
    clear: both;
}

p {
    color: black;
}

p.secondary {
    color: white;
    background: #242424;
}

.btn.btn-default {
    background: #333 !important;
    color: #FFFFFF !important;
    border-radius: 25%;
}

.myPanel {
    background: #242424;
}

.myPanel .heading {
    background:#662244;
    border: 1px solid #242424;
    border-radius:  5px 5px 0 0;
    color: antiquewhite;
}